<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />

<title>登録情報</title>
	<body>
		<form action="@{/regist}" method="post">
		<table>
			<tr><th>氏名</th>
				<td><input type="text" name="氏名" size="30" /></td>
			</tr>
			<tr><th>住所</th>
	    		<td><input type="text" name="住所" size="30" /></td>
	    	</tr>
			<tr><th>電話番号</th>
	    		<td><input type="text" name="TEL" size="16" /></td>
	    	</tr>
			<tr><th>E-Mail</th>
	    		<td><input type="text" name="Mail_From" size="30" /></td>
	    	</tr>
	    </table>	
	    
	    		<input type="submit" value="登録"></input>
		</form>
	
	
	</body>
</head>
</html>